<h1>User Login</h1>

<form action="/api/session/login" method="post">
    <label for="">Email: </label>" <input type="email" name="email" /> 
    <label for="">Password: </label>" <input type="password" name="password" /> 
    <button type="submit">Manual Login</button>
    <button type="button"><a href="/api/session/github">Github Login</a></button>
    <button type="button"><a href="/restore-password">Reset Password</a></button>
</form>