<h1>Reset Password</h1>

<form action="/api/session/restore-password" method="post"> 
    <label>Email: </label> <input type="email" name="email" />
    <label>New password: </label> <input type="password" name="password" />
    <button type="submit">Reset Password</button>
</form>